@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #ffffff;
	--color-secondary: #dfe3e8;
	--color-tertiary: #a5aeb7;
	--color-accent: #00996d;
	--color-error: #f44640;
	--color-muted: #747b88;
	--color-background: #161c23;
	--color-light-background: #212b36;
	--color-lighter-background: #3c4856;
	--color-lightest-background: #4f5e6e;
	--color-secondary-background: #d9d9d9;

	--font-yekan-bakh: "Yekan Bakh", sans-serif;
}

.loading {
	background-color: rgb(48, 58, 70);
	position: relative;
	overflow: hidden;
}

.loading::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, transparent, rgb(33, 43, 54), transparent);
	transform: translateX(100%);
	animation: shimmer 2s linear infinite;
}

@keyframes shimmer {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}
